In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

import os
import glob
import multiprocessing

from tqdm.notebook import tqdm

from pprint import pprint

from Connecting_DB import *

# Matches

In [3]:
connection = create_connection("localhost", "root", "svcSypBrMB1CG8qiM", "test1")

for i, file_name in enumerate(tqdm(glob.glob("/mnt/c/Users/conor/Google Drive/dota_output_files/*.pkl"))):

    if i != 0:
        #break
        pass

    try:
        dataset = pickle_read(file_name)
    except:
        continue

    for j, match in enumerate(dataset.values()):

        if j != 0:
            #break
            pass
        
        try:
            match_id=match["match_id"]
            start_time=match["start_time"]
            duration=match["duration"]
            radiant_win=match["radiant_win"]
            radiant_win = 1 if radiant_win==True else 0

            insert =f"""
            INSERT INTO
            `matches` (`match_id`, `start_time`, `duration`, `radiant_win`)
            VALUES
            ('{match_id}', '{start_time}', '{duration}', '{radiant_win}');
            """

            execute_query(connection, insert)  
            
        except:
            continue

Connection to MySQL DB successful

HBox(children=(FloatProgress(value=0.0, max=1000.0), HTML(value='')))

# Player Matches

In [5]:
def upload_playermatch_data(file_name):

    connection = create_connection("localhost", "root", "svcSypBrMB1CG8qiM", "test1")

    try:
        dataset = pickle_read(file_name)
    except:
        pass

    for j, match in enumerate(dataset.values()):

        if j!=0:
            #break
            pass

        try:
            players = match["players"]

        except:
            pass 

        for k, player in enumerate(players):

            if k!=0:
                #break
                pass
            
            try:
                match_id=match["match_id"]
                player_id=player["account_id"]
                hero_id=player["hero_id"]
                player_team=player["isRadiant"]
                player_team = 1 if player_team==True else 0

                insert =f"""
                INSERT INTO
                `playermatch` (`match_id`, `player_id`, `hero_id`, `player_team`)
                VALUES
                ('{match_id}', '{player_id}', '{hero_id}', '{player_team}');
                """

                execute_query(connection, insert, verbose=False)

            except:
                pass

    connection.close()

In [6]:
pool = multiprocessing.Pool()
pool.map(upload_playermatch_data, glob.glob("/mnt/c/Users/conor/Google Drive/dota_output_files/*.pkl"))
pool.close()

Connection to MySQL DB successfulConnection to MySQL DB successfulConnection to MySQL DB successfulConnection to MySQL DB successfulConnection to MySQL DB successfulConnection to MySQL DB successfulConnection to MySQL DB successfulConnection to MySQL DB successfulConnection to MySQL DB successfulConnection to MySQL DB successful


Connection to MySQL DB successful







Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successfulConnection to MySQL DB successful

Connection to MySQL DB successfulConnection to MySQL DB successful

Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successfulConnection to MySQL DB successfulConnection to MySQL DB successful

Connection to MySQL DB successful

Connection to MySQL DB successfulConnection to MySQL DB successfulConnection to MySQL DB successful


Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successfulConnection to MySQL DB successful

Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successfulConnection to MySQL DB successful

Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successfulConnection to MySQL DB successful

Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successfulConnection to MySQL DB successful

Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successfulConnection to MySQL DB successful

Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful

Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successfulConnection to MySQL DB successful

Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful
Connection to MySQL DB successful

UnboundLocalError: local variable 'dataset' referenced before assignment

In [5]:
connection = create_connection("localhost", "root", "svcSypBrMB1CG8qiM", "test1")

for i, file_name in enumerate(tqdm(glob.glob("/mnt/c/Users/conor/Google Drive/dota_output_files/*.pkl"))):

    if i != 0:
        #break
        pass

    try:
        dataset = pickle_read(file_name)
    except:
        continue

    for j, match in enumerate(dataset.values()):

        if j!=0:
            #break
            pass

        try:
            players = match["players"]

        except:
            continue 

        for k, player in enumerate(players):

            if k!=0:
                #break
                pass
            
            try:
                match_id=match["match_id"]
                player_id=player["account_id"]
                hero_id=player["hero_id"]
                player_team=player["isRadiant"]
                player_team = 1 if player_team==True else 0

                insert =f"""
                        INSERT INTO
                        `playermatch` (`match_id`, `player_id`, `hero_id`, `player_team`)
                        VALUES
                        ('{match_id}', '{player_id}', '{hero_id}', '{player_team}');
                        """

                execute_query(connection, insert, verbose=False)
                
            except:
                continue

connection.close()

Connection to MySQL DB successful

HBox(children=(FloatProgress(value=0.0, max=1000.0), HTML(value='')))

In [18]:
connection.close()

# Heroes

In [ ]:
connection = create_connection("localhost", "root", "svcSypBrMB1CG8qiM", "test1")

for i, file_name in enumerate(tqdm(glob.glob("/mnt/c/Users/conor/Google Drive/dota_output_files/*.pkl"))):

    if i != 0:
        break
        pass

    try:
        dataset = pickle_read(file_name)
    except:
        continue

    for j, match in enumerate(dataset.values()):

        if j!=0:
            break
            pass

        for k, player in enumerate(match["players"]):

            if k!=0:
                break
                pass
            
            try:
                match_id=match["match_id"]
                player_id=player["account_id"]
                hero_id=player["hero_id"]

            except:
                continue

            insert =f"""
                    INSERT INTO
                    `playermatch` (`match_id`, `player_id`, `hero_id`)
                    VALUES
                    ('{match_id}', '{player_id}', '{hero_id}');
                    """

            execute_query(connection, insert, verbose=True)

connection.close()